@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: "Poppins", sans-serif;
}
.container{
	width:1170px;
	margin: 100px auto;
}
img{
	max-width:100%;
}


.team {
  display: grid;
  grid-template-columns: repeat(3,auto);
  column-gap: 30px;
}
.team-area {
}
.single-team {
  position: relative;
  height: 350px;
  background-position: top;
  background-size: cover;
  overflow:hidden;
}
.single-team:hover .team-content{
	bottom:0;
}
.team-content {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  background: #333;
  left: 0;
  bottom: -130px;
  color: #fff;
  text-align: center;
  transition:.3s;
 
}

.team-content h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
}
.team-content h4 span {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 500;
}
.team-content a {
  color: #fff;
  margin:10px 5px;
}