.about{
    margin: 40px 0;
    h2 {
        font-size: 32px;
        padding-bottom: 20px;
    }
    p {
        font-size: 16px;
        line-height: 23px;
        color: #333;
    }
    a{
       
      
        margin-top: 20px;
    }
}