.services{
    display: flex;
    flex-wrap:wrap ;
    .single-service{
        background-color: teal;
        padding: 20px;
        width: 33.33%;
        h2 {
            text-align: center;
            color: #fff;
            margin-bottom: 15px;
        }
        p {
            color: #fff;
            font-size: 16px;
            padding: 10px 0;
        }
        a{
            &:hover{
                background-color: yellowgreen;
            }
        }
    }
}