/*--------CTA CSS---------*/

.cta{
    h2 {
        color: #fff;
        font-size: 45px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        color: #fff;
        margin-bottom: 30px;
      }
}
